@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Caveat:wght@400..700&family=Fira+Code:wght@300..700&family=Ubuntu&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Oleo+Script:wght@400;700&family=Playwrite+MX+Guides&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --clr-primaryColor-0: hsl(55, 100%, 88%);
  --clr-primaryColor-1: hsl(55, 100%, 67%);
  --clr-primaryColor-2: hsl(55, 100%, 54%);
  --clr-primaryColor-3: hsl(55, 100%, 45%);
  --clr-primaryColor-4: hsl(55, 100%, 40%);
  --clr-primaryColor-5: hsl(55, 100%, 23%);
  --clr-alterNativeColor: #181818;
  --clr-orangeColor-0: #ffaa0d;
  --clr-orangeColor-1: #e69500;
  --clr-orangeColor-2: #b37300;
  --clr-orangeColor-3: #996300;
  --clr-orangeColor-4: #734a00;

  --clr-secondaryColor-0: #4d647e;
  --clr-secondaryColor-1: #334d6c;
  --clr-secondaryColor-2: #0d2c50;
  --clr-secondaryColor-3: #001c3c;
  --clr-secondaryColor-4: #001935;
  --clr-secondaryColor-5: #000f20;

  --GrayColor-0: #f2f2f2;
  --GrayColor-1: #f2efef;
  --GrayColor-2: #e6e6e6;
  --GrayColor-3: #dcd7d7;
  --GrayColor-4: #939393;
  --GrayColor-5: #3a3a3a;

  --clr-blackColor: #222;
  --clr-whiteColor: #fff;

  --primaryFont: 'Ubuntu';
  --secondaryFont: 'Mozilla Headline';
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --BackgroundColor-: #f0eaea;
}

/* global styles */

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background: var(--BackgroundColor-);
  color: var(--clr-gray-0);
  line-height: 1.5;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.search-icon {
  font-size: 2rem;
  background: var(--GrayColor-3);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-blackColor);
  color: var(--clr-orangeColor-0);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;

  /* font-weight: 700; */

  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}

.btn:hover {
  color: var(--clr-white);
  background: rgb(31, 52, 82);
}

.section {
  padding: 5rem 0;
}

.section-title {
  text-align: center;
  padding-top: 4rem;
}

.section-title h2 {
  text-transform: uppercase;
}

.section-title span {
  color: hsl(207, 51%, 56%);
}

.section-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/* code */
.main {
  height: 100vh;
}

.main-header {
  background: linear-gradient(rgba(183, 209, 183, 0.3),
      rgba(183, 209, 183, 0.5)),
    url(./images/pexels-tima-miroshnichenko-8327690.jpg) center/cover no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* header */
.mech-section {
  height: 10vh;
  width: 100vw;
  background: var(--clr-orangeColor-2);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 4rem;
}

.logo {
  max-width: 5rem;
}

.mech-welcome {
  font-size: 1.5rem;
  font-family: var(--primaryFont);
}

.mech-area {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.search-container {
  /* background: red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 3rem 0;
  gap: 0.5rem;
}

.search-box {
  width: 80%;
  height: 3rem;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  outline: none;
  border: 2px solid var(--GrayColor-0);
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}

.search-box:hover {
  transform: scale(1.02);
}

/* click option */

.click-option {
  margin: 2rem 3rem;
  background: var(--clr-orangeColor-1);
  text-align: center;
  padding: 1rem 3rem;
  border-radius: 10px;
  transition: var(--transition);
}

.click-option:hover {
  transform: translatey(0.5rem);
  /* border: 2px solid var(--clr-secondaryColor-1); */
}

.click-option,
h3 {
  font-size: 1rem;
  font-family: var(--secondaryFont);
  letter-spacing: 2px;
  color: var(--clr-secondaryColor-2);
  transition: var(--transition);
  cursor: pointer;
}

.click-option,
h3:hover {
  color: var(--BackgroundColor-);
}

.click-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.option-icon {
  color: var(--clr-secondaryColor-3);
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
}

.service-container {
  color: var(--clr-secondaryColor-3);
  background: var(--clr-orangeColor-1);
  text-align: center;
  margin: 3rem auto;
  padding: 1rem 0;
  border-radius: 1rem;
  max-width: 40rem;
}

.click-service:hover {
  background: var(--clr-orangeColor-2);
}

.underline {
  width: 3rem;
  height: 0.5rem;
  background: var(--clr-orangeColor-2);
  border-radius: var(--radius);
  text-align: center;
  margin-bottom: 2rem;
}

.underline-long {
  width: 100%;
  height: 0.01rem;
  background: var(--clr-orangeColor-2);
  /* border: 2px dashed var(--clr-orangeColor-2); */
  border-radius: var(--radius);
  text-align: center;
  margin-bottom: 2rem;
}

/* categories */
.main-category {
  font-family: var(--primaryFont);
  font-size: 400;
  color: var(--clr-blackColor);
  margin-bottom: 2rem;
  padding: 1.5rem 0;
}

.category h2 {
  font-family: var(--secondaryFont);
  font-size: 1.2rem;
  letter-spacing: 5px;
}

.category-container {
  border: 1px solid var(--clr-alterNativeColor);
  border-radius: var(--radius);
  background: var(--GrayColor-3);
}

.category {
  margin: 1rem 0;
}

.category-icon {
  color: var(--clr-orangeColor-4);
}

.category-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem 1rem;
  background: var(--GrayColor-2);
}

.category-text {
  background: #fff3f3;
  padding: 2rem 2rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

/* incident */

.incident-container {
  margin: 4rem 0;
  padding: 2rem 1rem;
  background: var(--GrayColor-4);
  color: var(--GrayColor-5);
}

.incident-title {
  text-align: center;
  margin: 2rem 0;
}

.incident-text {
  letter-spacing: var(--spacing);
  text-align: center;
  margin-bottom: 2rem;
}

/* anniversary */
.anni-container {
  margin: 3rem 0;
  display: grid;
  justify-content: center;
  place-items: center;
}


.anni-title h3 {
  color: var(--clr-secondaryColor-5);
  font-size: 2rem;
  margin: 5rem;
  text-align: center;
}

.anni-background {
  width: 10rem;
  height: 10rem;
  background: transparent;
  border: 2px solid var(--GrayColor-5);
  border-radius: 50%;
  position: relative;
}



.anni-bold {
  color: var(--clr-secondaryColor-5);
  position: absolute;
  transform: translate(2.5rem, -8.2rem);
  font-family: var(--secondaryFont);
  padding: 1rem 0;
  font-size: 4rem;
}

.anni-bold h2 {
  text-align: center;
}

.anni-bold h1 {
  font-size: 3rem;
  text-align: center;
}

.anni-text {
  color: var(--GrayColor-4);
  margin: 0 auto;
  font-size: 17px;
  letter-spacing: 0.85px;
  text-transform: capitalize;
  text-align: center;
}


.anni-highlite {
  margin: 2rem;

}

.anni-highlite h3 {
  font-size: 1.5rem;
  text-align: center;
  transition: var(--transition);

}

.anni-highlite h3:hover {
  color: var(--clr-secondaryColor-4);
}

.anni-highlite p {
  color: var(--clr-secondaryColor-4);
  align-items: center;
}

.anniversary {
  margin: 1rem auto;
  transition: var(--transition);

}

.anniversary:hover {
  transform: translatex(2rem);
}

.anni-img {
  place-self: center;
}



@media screen and (min-width: 768px) {
  .big {
    font-size: 2.6rem;
    color: var(--clr-secondaryColor-0);
    border: 2px dashed var(--clr-secondaryColor-0);
    padding: 1rem 1rem;

  }

  .four {
    font-size: 6rem;
    color: var(--clr-orangeColor-4);
    /* border: 2px solid var(--clr-secondaryColor-0); */
    /* padding: 1rem 1rem; */

  }


  .anni-text {
    margin: 4rem 0;
  }

  .anni-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }


}

/* expert */

.expert-container {
  background: var(--clr-secondaryColor-5);
  margin: 6rem auto;
  max-width: 30rem;
  transition: var(--transition);
  box-shadow: var(--light-shadow);
}

@media screen and (min-width: 768px) {
  .expert-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .underline-long {
    margin-top: 2rem;
  }

  .extra {
    display: grid;
  }
}

.expert-container:hover {
  box-shadow: var(--dark-shadow);
  transform: translatex(-1rem);
}

.expert-title {
  padding: 9px 10px;
  background: var(--GrayColor-3);
}

.expert-title h4 {
  color: var(--GrayColor-5);
  font-family: var(--secondaryFont);
  font-weight: 400;
  font-size: 1rem;
}

.expert-text {
  padding: 20px;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--GrayColor-4);
  text-transform: capitalize;
}

.expert-img {
  object-fit: cover;
}

.extra {
  display: none;
}

/* offer session */

.circle {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: red;
  position: relative;
}

.offer-imgContainer {
  margin-bottom: 2rem;
  display: grid;
  place-items: center;
}

.offer-photo {
  z-index: 2;
  width: 11rem;
  position: absolute;
  transform: translate(5%, 0%);
}

.offer-title {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  /* padding: 2rem 0; */
}

.offer-title h3 {
  margin-left: 1rem;
  text-align: center;
}

.offer {
  margin: -1rem 0;
  line-height: 3rem;
  font-family: var(--secondaryFont);
  font-size: 15px;
  color: var(--clr-secondaryColor-4);
}

.offer:hover {
  color: var(--clr-orangeColor-0);
}

.offer-list {
  padding-bottom: 3rem;
}

.offer-container {
  background: var(--GrayColor-3);
  padding: 2rem 2rem;
  border: 0.5px dashed var(--clr-secondaryColor-1);
}

/* footer */
.footer {
  background: var(--clr-orangeColor-2);
  width: 100vw;
}

.footer p {
  color: white;
  text-transform: capitalize;
}

.single-footer p {
  transition: var(--transition);
}

.single-footer p:hover {
  color: #734a00;
}

.footer-cotainer {
  letter-spacing: var(--spacing);
  margin-top: 1rem;
  padding-top: 2rem;
  padding-left: 1rem;
}

.information {
  padding-left: 1rem;
  letter-spacing: var(--spacing);
}

.information h3 {
  color: var(--clr-whiteColor);
  margin: 2rem 0;
  font-weight: 400;
}

.information p {
  transition: var(--transition);
}

.information p:hover {
  color: #734a00;
}

.footer-sta {
  color: var(--clr-whiteColor);
  padding-bottom: 2rem;
}

.languages {
  padding-left: 1rem;
  letter-spacing: var(--spacing);
}

.lanuages p {
  transition: var(--transition);
}

.languages p:hover {
  color: #734a00;
}

.footer-img {
  max-width: 15rem;
  display: block;
  justify-content: center;
}

.share-icon h4 {
  text-align: center;
  font-family: var(--secondaryFont);
  font-weight: 40;
  margin-top: 4rem;
  margin-bottom: 0;
  padding: 2rem 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 30px;
}

.social-icons a {
  color: var(--clr-blackColor);
  transition: var(--transition);
}

.social-icons a:hover {
  color: var(--clr-orangeColor-2);
}

.unique-2 {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--clr-secondaryColor-5);
  color: white;
  padding: 15px 20px;
  border-radius: 8px 0 0 8px;
  font-size: 16px;
}